.timeline{
  display: flex;
  overflow-y: scroll;
}

.svg-timeline{
  margin: 0 25px 0 25px;
  display: flex;
}

.timeline-date{
  text-align: center;
}

.timeline-notes{
  text-align: justify;
  padding: 14px;
}

.svg-body-date-timeline{
  text-align: center;
}
