.scale-body{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
  align-items: flex-end;
}

.svg-body{
  padding-top: 25px;
  width: 60%;
  display: flex;
  justify-content: center;
}

.form-notes{
  width: 20%
}
