.scale{
  width: 20%;
}

.scale * {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 15px;
}

.zero-force{
  background-color: #FFFFFF;
  fill: #FFFFFF;
  color: black;
}

.one-force{
  background-color: #FF0000;
  fill: #FF0000;
  color: black;
}

.two-force{
  background-color: #FA7F01;
  fill: #FA7F01;
  color: black;
}

.three-force{
  background-color: #FFFF00;
  fill: #FFFF00;
  color: black;
}

.four-force{
  background-color: #D4FF00;
  fill: #D4FF00;
  color: black;
}


.five-force{
  background-color: #00FF00;
  fill: #00FF00;
  color: black;
}

.scale-muscle-popup * {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 15px;
}

@media only screen and (max-width: 720px) {
  .scale{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .scale * {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
  }
}
