.scale{
  width: 20%;
}

.scale-reflex{
  display: flex;
  justify-content: space-around;
}

.reflex-one{
  background-color: #FF0000;
  border-radius: 45px;
  border: 2px solid $vizzzBlue;

}

.reflex-two{
  background-color: #FFFF00;
  border-radius: 45px;
  border: 2px solid $vizzzBlue;
}

.reflex-three{
  background-color: #00FF00;
  border-radius: 45px;
  border: 2px solid $vizzzBlue;
}

.scale * {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 15px;
}

.zero-force{
  background-color: #FFFFFF;
  fill: #FFFFFF;
  color: black;
}

.one-force{
  background-color: #FF0000;
  fill: #FF0000;
  color: black;
}

.two-force{
  background-color: #FA6401;
  fill: #FA6401;
  color: black;
}

.three-force{
  background-color: #FFC300;
  fill: #FFBE00;
  color: black;
}

.four-force{
  background-color: #FFFF00;
  fill: #FFFF00;
  color: black;
}


.five-force{
  background-color: #00FF00;
  fill: #00FF00;
  color: black;
}

.scale-muscle-popup * {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 15px;
}

@media only screen and (max-width: 720px) {
  .scale{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .scale * {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
  }
}
