
.top-actions{
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  width: 100%;
  padding: 0 2% 0 2%;
}

.patient-ref{
  marging: 25px 0 0 35px;
}

.body-select{
  width: 22%;
  display: flex;
  justify-content: space-around;
}

.patient-n-evolution{
  display: flex;
  justify-content: space-between;
}

.evolution-link{
  color: $white;
  padding: 15px 20px 15px 20px;
}

.top-no-react-element-right{
  font-size: 22px;
  margin-top: -1px;
  background: $vizzzBlue;
  padding: 8px 10px 15px 10px;
  border-radius: 0 0 0 20px;
}
