
.top-actions{
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  width: 100%;
  padding: 0 2% 0 2%;
}

.patient-ref{
  marging: 25px 0 0 35px;
}

.body-select{
  display: flex;
  justify-content: space-around;
}

.patient-n-evolution{
  display: flex;
  justify-content: space-between;
}

.evolution-link{
  color: $white;
  padding: 15px 20px 15px 20px;
}

.evolution-link:hover{
  color: $white;
}

.top-no-react-element-right{
  font-size: 22px;
  margin-top: -1px;
  background: $vizzzBlue;
  padding: 8px 10px 15px 10px;
  border-radius: 0 0 0 20px;
}

.flip-btns{
  margin-left: -3%;
}

@media only screen and (max-width: 720px) {
  .patient-ref{
    font-size: 1.4rem;
  }

  .evolution-link{
    font-size: 1rem;
  }

  .top-no-react-element-right{
    font-size: 1rem;
  }

}

@media only screen and (max-width: 525px) {
  .patient-ref{
    font-size: 1rem;
  }

  .evolution-link{
    font-size: 0.8rem;
  }

  .top-no-react-element-right{
    font-size: 0.8rem;
  }

}
