
.top-actions{
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 2% 0 2%;
}

.patient-ref{
  marging: 25px 0 0 35px;
}

.body-select{
  width: 22%;
  display: flex;
  justify-content: space-around;
}

.patient-n-evolution{
  display: flex;
  justify-content: space-between;
}

.evolution-link{
  marging: 35px 35px 0;
}
