<div class="dashboard-row-search">
  <%= render "users/patient_search" %>
</div>

<div class="dashboard-row">
  <%= render "users/new_patient_form",  patient: @patient %>
  <%= render "users/patient_list" %>
</div>
